*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;color: black;
    


}.toppu{
    display: flex;
    font-size: 25px;
    align-items: center;
    
}
.toppu p {
    padding: 5%;
}
.header {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.fun {
    font-size: 30px;
    padding: 5%;
}
.fun h2 {
    width: 100%;
    background-color: rgb(228, 226, 226);
}

 .square{
    width: 300px;
    height: 80px;
    transition: 1s;
    -webkit-transition: 1s;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
}
.square a {
    color: red;
}
  
  .square:hover{
    transform: translateX(300px);
  }
footer {
    width: 100%;
    height: 100px;
}
button {
    font-size: 30px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
}
.box2 {
    text-align: center;
}
.box2 img {
    width: 100%;
    height: 500px;
}
.box3 {
    text-align: center;
}
@media screen and (max-width:1280px) {
.toppu img {
    display: none;
}
.box3 {
    margin-top: 50px;
}
}
@media screen and (max-width:680px) {
    .toppu img{
        display: none;
    }
    .box3 {
        margin-top: 50px;
    }
    }
